*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #000;
    color: lightgrey;
    overflow: hidden;
}

.container{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    width: 60vw;
    height: 70vh;
    margin: 14vh auto;
    border: 2px solid lightgray;
}

.container .lSide{
    grid-row-start: span 3;
    overflow:auto;
}

.rtSide{
    border-bottom: 2px solid lightgray;
    border-left: 2px solid lightgray;
    overflow:auto;
}

.lSide h3{
    margin: 15% 20%;
}
 
.underline{
    border-bottom: 1px dotted lightgrey;
}
.rounds{
    padding: 15% 20% 0;
}

.rounds input{
    margin-bottom: 10%;
}

.rounds #txt-costumRounds{
    display: none;
}

#result{
    margin: 10%;
}

.rbSide{
    border-left: 2px solid lightgray;
    overflow: hidden;
}

.rbSide input{
    display: block;
    margin: 15% auto;
}

.rbSide button{
    display: block;
    width: 30%;
    margin: auto;
}
