/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #000;
    color: lightgrey;
    overflow: hidden;
}

.container{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
    grid-template-columns: 50% 50%;
    -ms-grid-rows: 50% 50%;
    grid-template-rows: 50% 50%;
    width: 60vw;
    height: 70vh;
    margin: 14vh auto;
    border: 2px solid lightgray;
}

.container > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;
}

.container > *:nth-child(2){
    -ms-grid-row: 1;
    -ms-grid-column: 2;
}

.container > *:nth-child(3){
    -ms-grid-row: 2;
    -ms-grid-column: 1;
}

.container > *:nth-child(4){
    -ms-grid-row: 2;
    -ms-grid-column: 2;
}

.container .lSide{
    -ms-grid-row: span 3;
        grid-row-start: span 3;
    overflow:auto;
}

.rtSide{
    border-bottom: 2px solid lightgray;
    border-left: 2px solid lightgray;
    overflow:auto;
}

.lSide h3{
    margin: 15% 20%;
}
 
.underline{
    border-bottom: 1px dotted lightgrey;
}
.rounds{
    padding: 15% 20% 0;
}

.rounds input{
    margin-bottom: 10%;
}

.rounds #txt-costumRounds{
    display: none;
}

#result{
    margin: 10%;
}

.rbSide{
    border-left: 2px solid lightgray;
    overflow: hidden;
}

.rbSide input{
    display: block;
    margin: 15% auto;
}

.rbSide button{
    display: block;
    width: 30%;
    margin: auto;
}